
#middeBox  {
    display: block;
    border :solid 1px black;
    margin: 50px;
    margin-left: 28%;
    width: 41%;
    margin-top:15px;
    border-radius: 3px;
    box-shadow:0 0 2px 1px rgba(20, 3, 3, 0.24);

}

#bottomBoxul a {
    display: inline-block;
}

#bottomBox ul li  a{
    list-style: none;
    display: inline-block;
    text-decoration: none
}

#upperBox header {
    width: 44%;
    margin-left: 27%;
    text-align: center;
    margin-top: 46px;
    padding-top: 60;
}
#upperbox h1{
    font-size: 50px;
    color: darkred;
}
#upperbox h5{
    font-size: 19px;

}

#bottomBox ul li {
    display:inline;
    padding:5px;
    margin-bottom: ;
}

#nav ul  {
    margin-left: 33%;



}

#bottomBox a{
    color: #817474;
}



#table tr{

    border-collapse: separate;
    padding: 5px;
    width: 100%;
    font-size: 14px;
}
#table td{

    padding: 9px;
}

#eml {
    color:#817474;
    border-radius: 3px;
    background-color: #e8dddd;
    width: 100%;
}
#eml1{
    color: #817474;
}

#lik a{
    text-decoration: none;
    font-size: 14px;
    margin-top: 3px;
    color: #817474;

}

#botton {
    float: right;
    margin-top: 12px;
    font-family: fantasy;
    color: aliceblue;
    background-color:#37379a;
    padding: 3px;
    border-radius: 3px;
}



#out {
    display: block;
    margin: 19px;

}
