
#middeBox  {
    display: block;
    border :solid 3px green;
    margin: 50px;
    margin-left: 28%;
    width: 41%;
    padding-right: 4%;
    margin-top:15px;
}

#bottomBoxul a {
    display: inline-block;
}

#bottomBox ul li  a{
    list-style: none;
    display: inline-block;
    text-decoration: none
}

#upperBox header {
    display: block ;
    border: solid 5px;
    width: 44%;
    margin-left: 27%;
    text-align: center;
    height: px;
    margin-top: 46px;
    padding-top: 60;
}
#upperbox h1{
    font-size: 50px;
    color: darkred;
}
#upperbox h5{
    font-size: 19px;

}

#bottomBox ul li {
    display:inline;
    padding:5px;
}

#nav {
    margin-left: 28%;
}

#bottomBox a{
    color: #817474;
}



#table{
    display: block;
    border: solid 1px;
    border-collapse: collapse;
    width: 100%;
}
#table {
    display: block;
    border: solid 3px;
    font-size: 14px;
    padding-top:199px;
    padding-left: 9px;
}

#table {
    margin: 17px;
}

#eml {
    color:#817474;
    border-radius: 3px;
    background-color: #e8dddd;
    width: 100%;
}
#eml1{
    color: #817474;
}

#lik a{
    text-decoration: none;
    font-size: 14px;
    margin-top: 3px;
    color: #817474;

}

#botton {
    float: right;
    margin-top: 12px;
    font-family: fantasy;
    color: aliceblue;
    background-color:#37379a;
    padding: 3px;
    border-radius: 3px;
}
